.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  /* align-items: center; */
  margin: 30px 10px;
}
.movie-card {
  width: 200px;
  margin-bottom: 20px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: auto;
  /* border-radius: 0px 0px 0px 0px; */
}

@media (max-width: 768px) {
  .movie-list {
    gap: 15px;
  }
}
