.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #222;
  color: white;
}
.navbar-logo h1 {
  margin: 0;
  font-size: 24px;
  color: skyblue;
}

.navbar-logo a {
  text-decoration: none;
  color: inherit;
}

.nav-right {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  align-items: center;
}

.navbar-links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0 1px;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.navbar-links li a:hover {
  color: #f39c12;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.navbar-search button {
  padding: 5px 15px;
  font-size: 16px;
  background-color: #f39c12;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

.navbar-search button:hover {
  background-color: #e67e22;
}

/* Responsive Design */

@media (max-width: 768px) {
  .navbar {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .nav-right {
    margin-left: 0px;
  }

  .navbar-links {
    flex: 1 1 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
  }

  .navbar-search {
    flex: 1 1 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .navbar-search input {
    width: 80%;
  }
}

@media (max-width: 555px) {
  .navbar {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .nav-right {
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
    align-items: center;
  }
  .navbar-links {
    flex: 1 1 100%;
    justify-content: center;
    gap: 10px;
    margin-top: 8px;
    font-size: 10px;
  }

  .navbar-links li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
  }

  .navbar-search {
    flex: 1 1 100%;
    justify-content: center;
    margin-top: 0px;
  }

  .navbar-search input {
    width: 80%;
  }
}
